body, html, div, blockquote,
img, label, p,
h1, h2, h3, h4, h5, h6,
pre, ul, ol, li, dl, dt, dd,
form, a, fieldset, input, th, td {
    margin: 0; padding: 0; border: 0; outline: none;
}

body {
    line-height: 1;
    font-size: 100%; /* Author states: modify based on what you want */
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    padding: .6em 0;
    margin: 0 15px;
}
ul, ol {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.floatLeft {
    float: left;
    padding: .5em .5em .5em 0;
}
.floatRight {
    float: right;
    padding: .5em 0 .5em .5em;
}

/*



*/

.wrapper {
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica;
    text-align: center;
    
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0;
}